.charts-figure {
        width: 100%;
        height: 110px;
        margin: 20px auto;
box-shadow: 0 3px 15px rgb(0 0 0 / 3%); 

        border-radius: 8px;
        padding: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000;
        font-size: 0.8rem;
    }

    /* .charts-figure canvas {
        width: 100% !important;
        height: 100% !important;
    }

    .charts-figure h2 {
        text-align: center;
        margin-bottom: 20px;
    } */